@charset "UTF-9";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'idroid';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}


:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrão: arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: 'bebas neue', cursive;
    --fonte-android: 'idroid', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor0) ;
    font-family: var(--fonte-padrão);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 150px;
    text-align: center;

}

header h1 {
    font-weight: normal;
    color:white;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow:3px 0px 7px black;
    font-family: var(--fonte-destaque)
}

header p {
    color: white;
    font-size: 1.2em;
    max-width: 700px;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
    text-shadow:3px 0px 7px black;
    font-family: var(--fonte-padrão);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.411);
    
}
nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.5s;
    

}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1500px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.492);
    margin-bottom: 25px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);;
}
main h2 {
    font-weight: normal;
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor1), transparent);
    text-indent: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main img {
    width: 100%;
    display: block;
    margin: auto;

}

.pequena {
    max-width: 400px;

}

div.video {
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    
    
}

div.video > iframe {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-width: 400px;
    max-height: 1000px;
    min-height: 400px;

}



main a {
    text-decoration: none;
    background-color:var(--cor1);
    font-weight: bold;
    color: var(--cor4);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
    background-color: var(--cor5);
}

a.external::after {
    content: '\1F517';
}

aside {
    background-color: #c5ebd6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 7px 20px 0px rgba(0, 0, 0, 0.478);
    margin: 20px 20px;
    
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2705';
    
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin: -10px -10px 0px -10px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
